
*{ 
    /*default jei margin padding thake website a shob 0 kore newa*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*forces to follow box model by the t*/

}

/*  shared styles  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    cursor: pointer;

}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}

/*   main styles  */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom  right ;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600; /*semibold*/
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
    /*image er niche akta halka gap thake browser page a, sheta baad dite verticle align middle kora hoise*/
}


#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around; /*charidike ektu jayga rekhe nijeder modhe spaced hoye boshbe*/
}

.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
}

#skills{
    padding-top: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
}

.skills-container .section-heading p{
    margin-bottom: 50px;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    border: 1px solid red; /*to better understand the border and paddings*/
    padding: 30px;
    max-width: 267px;

    /*the design also has drop shadow for skill-cards*/
    box-shadow: 0px 6px 50px 0 #00000023;
    /*x-axis, y-axis, blur, spread, color*/
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    /* font-weight: bold; h3 use kora, so already bold e ache*/
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}